*{
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  ;  
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.square{
  background: rgb(252, 243, 255);
  border: 1px solid grey;
  font-size: 40px;
  text-align: center;
  width: 100px;
  height: 100px;
  font-weight: bold;
  margin-top: -4px;
  margin-right: -4px;
  line-height: 100px;
  float: left;
  padding: 0;
  border: 4px solid black;
  border-radius: 5px;
}

.status{
  margin-bottom: 10px;
  background: rgb(103, 16, 149);
  padding: 0px;
  color: whitesmoke;
  border-radius: 40px;
  font-size: 22px;
}

.board-row:after{
  clear: both;
  content: '';
  display: table;
  /* background: white; */
}

.game-info{
  background: white;
}